<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>See My Latest Projects.</h1>

            <p class="lead">I'm currently developing projects in various fields, including web, game, AI, backend, frontend, and more. To see all my repositories, visit my GitHub account, and for my latest projects, check out the section below.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        @* ~/hola-master/images/portfolio/gallery/g-beetle.jpg *@
                        @* ~/hola-master/images/portfolio/beetle.jpg *@
                        @* ~/hola-master/images/portfolio/beetle.jpg *@
                        @* ~/hola-master/images/portfolio/beetle@2x.jpg *@
                        <a href="https://i.hizliresim.com/4gq5rck.jpg" class="thumb-link" title="AYGAZ & Global AI Hub Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/4gq5rck.jpg"
                                 srcset="https://i.hizliresim.com/4gq5rck.jpg 1x,https://i.hizliresim.com/4gq5rck@2x.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            AYGAZ & Global AI Hub Project
                        </h3>
                        <p class="item-folio__cat">
                            AI Introduction Bootcamp Project
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Fashion MNIST Image Classification.Project link: https://github.com/saadetelizavetababal/Aygaz-Yapay-Zekaya-Giris-Bootcamp-Projesi</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                    @* ~/hola-master/images/portfolio/gallery/g-lighthouse.jpg *@
                    @* ~/hola-master/images/portfolio/lighthouse.jpg *@
                    @* ~/hola-master/images/portfolio/lighthouse.jpg *@
                    @* ~/hola-master/images/portfolio/lighthouse@2x.jpg *@

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/cwgapze.jpg" class="thumb-link" title="Akbank & Global AI Hub Machine Learning Bootcamp Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/cwgapze.jpg"
                                 srcset="https://i.hizliresim.com/cwgapze.jpg 1x,https://i.hizliresim.com/cwgapze.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Akbank & Global AI Hub Project
                            @* Lighthouse *@
                        </h3>
                        <p class="item-folio__cat">
                            Machine Learning Bootcamp Project
                            @* Web Design *@
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Akbank Machine Learning Bootcamp Project: Developed using Python 3.x, TensorFlow, and NumPy. Project link: https://github.com/saadetelizavetababal/Akbank-Machine-Learning-Bootcamp</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        @* ~/hola-master/images/portfolio/gallery/g-salad.jpg *@
                        @* ~/hola-master/images/portfolio/salad.jpg *@
                        @* ~/hola-master/images/portfolio/salad.jpg *@
                        @* ~/hola-master/images/portfolio/salad@2x.jpg *@

                        <a href="https://i.hizliresim.com/o5u37hu.jpg" class="thumb-link" title="IBM & Kodluyoruz CyberStart Bootcamp Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/o5u37hu.jpg"
                                 srcset="https://i.hizliresim.com/o5u37hu.jpg 1x,https://i.hizliresim.com/o5u37hu.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            IBM & Kodluyoruz Project
                            @* Salad *@
                        </h3>
                        <p class="item-folio__cat">
                            CyberStart Bootcamp Project
                            @* Branding *@
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>A simple Python algorithm solution I developed during the 3-month CyberStart Bootcamp.Project Link:https://github.com/saadetelizavetababal/IBM-Kodluyoruz-Homework</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        @* ~/hola-master/images/portfolio/gallery/g-woodcraft.jpg *@
                        @* ~/hola-master/images/portfolio/woodcraft.jpg *@
                        @* ~/hola-master/images/portfolio/woodcraft.jpg *@
                        @* ~/hola-master/images/portfolio/woodcraft@2x.jpg *@

                        <a href="https://i.hizliresim.com/huce8jc.jpg" class="thumb-link" title="ICP Hub & Rise In & Patika.dev Motoko Bootcamp Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/huce8jc.jpg"
                                 srcset="https://i.hizliresim.com/huce8jc.jpg 1x,https://i.hizliresim.com/huce8jc.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Rise In Project
                        </h3>
                        <p class="item-folio__cat">
                            Motoko Workshop Project
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Rise in & ICP Hub & Patika Dev collaboration, a 2-day Motoko workshop: Simple To-Do project.Project Link: https://github.com/saadetelizavetababal/Simple-To-do-Project</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                    @* ~/hola-master/images/portfolio/gallery/g-skaterboy.jpg *@
                    @* ~/hola-master/images/portfolio/skaterboy.jpg *@
                    @* ~/hola-master/images/portfolio/skaterboy.jpg *@
                    @* ~/hola-master/images/portfolio/skaterboy@2x.jpg *@

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/o1wgip8.jpg" class="thumb-link" title="ICP Hub & Rise In & Patika.dev Rust Bootcamp Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/o1wgip8.jpg"
                                 srcset="https://i.hizliresim.com/o1wgip8.jpg 1x,https://i.hizliresim.com/o1wgip8.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Patika.dev Project
                        </h3>
                        <p class="item-folio__cat">
                            Rust Workshop Project
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>The project I developed in the 2-day Rust workshop held in collaboration with Rise in & ICP hub & Patika.dev Project Link: https://github.com/saadetelizavetababal/RustProject</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                    @* ~/hola-master/images/portfolio/gallery/g-liberty.jpg *@
                    @* ~/hola-master/images/portfolio/liberty.jpg *@
                    @* ~/hola-master/images/portfolio/liberty.jpg *@
                    @* ~/hola-master/images/portfolio/liberty@2x.jpg *@

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/hixais9.jpg" class="thumb-link" title="ICP Hub & Rise In & Patika.dev Rust Bootcamp Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/hixais9.jpg"
                                 srcset="https://i.hizliresim.com/hixais9.jpg 1x,https://i.hizliresim.com/hixais9.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Internet Computer Project
                        </h3>
                        <p class="item-folio__cat">
                            Motoko Workshop Project
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>The project I developed at the 2-day motoko workshop held in collaboration with Rise in & ICP hub & Patika.dev.Project Link: https://github.com/saadetelizavetababal/MotokoProject</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                    @* ~/hola-master/images/portfolio/gallery/g-minimalismo.jpg *@
                    @* ~/hola-master/images/portfolio/minimalismo.jpg *@
                    @* ~/hola-master/images/portfolio/minimalismo.jpg *@
                    @* ~/hola-master/images/portfolio/minimalismo@2x.jpg *@
                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/t6mdkc8.jpg" class="thumb-link" title="Istanbul Kultur University OOP Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/t6mdkc8.jpg"
                                 srcset="https://i.hizliresim.com/t6mdkc8.jpg 1x,https://i.hizliresim.com/t6mdkc8.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Istanbul Kultur University Project
                        </h3>
                        <p class="item-folio__cat">
                            OOP Game Project
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>A game project developed using C++ for my OOP course at Istanbul Kultur University. Project link: https://github.com/saadetelizavetababal/Game</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                
                    @* ~/hola-master/images/portfolio/gallery/g-shutterbug.jpg *@
                    @* ~/hola-master/images/portfolio/shutterbug.jpg *@
                    @* ~/hola-master/images/portfolio/shutterbug.jpg *@
                    @* ~/hola-master/images/portfolio/shutterbug@2x.jpg *@

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/4smcf7k.jpg" class="thumb-link" title="Yapı Kredi Teknoloji System Analysis & Design Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/4smcf7k.jpg"
                                 srcset="https://i.hizliresim.com/4smcf7k.jpg 1x,https://i.hizliresim.com/4smcf7k.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Yapı Kredi Teknoloji Project
                        </h3>
                        <p class="item-folio__cat">
                            System Analysis & Design Project
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>A system analysis and design project for Yapı Kredi Teknoloji's FOCA application, completed with my 7-person team over 3 months. You can contact me to access the project files.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                    
                    @* ~/hola-master/images/portfolio/gallery/g-shutterbug.jpg *@
                    @* ~/hola-master/images/portfolio/shutterbug.jpg *@
                    @* ~/hola-master/images/portfolio/shutterbug.jpg *@
                    @* ~/hola-master/images/portfolio/shutterbug@2x.jpg *@

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/qwshih9.jpg" class="thumb-link" title="ICP Hub & Rise In & Patika.dev Rust Bootcamp Project" data-size="1050x700">
                            <img src="https://i.hizliresim.com/qwshih9.jpg"
                                 srcset="https://i.hizliresim.com/qwshih9.jpg 1x,https://i.hizliresim.com/qwshih9.jpg  2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            AcunMedya Akademi Projects
                        </h3>
                        <p class="item-folio__cat">
                            C# & Asp.Net Core Projects
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>During the 6-month training at Acun Media Academy, I developed 5 projects using C#, ASP.NET Core, and T-SQL technologies. You can access these projects on my GitHub account.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

        </div>
    </div> <!-- end masonry -->

</section>
