<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Say.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                @* <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar"> *@
                <img src="https://i.hizliresim.com/5bl9w3r.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    I’m keeping track of your progress and am impressed by your dedication. I wish you continued success in all your endeavors and want to extend my heartfelt congratulations on your hard work and achievements. Your efforts are truly commendable!
                </p>
                <div class="testimonials__author h06">
                    Huseyin Dulgar
                    <span>Senior Software Developer, ATP Tradesoft</span>
                </div>
            </div>

            <div class="testimonials__slide">
                @* <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar"> *@
                <img src="https://i.hizliresim.com/8b8ief2.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    I’ve been following your journey and am really impressed by how dedicated you’ve been. I’m cheering you on and wish you all the best in everything you do. Congratulations on all your hard work and successes—your efforts are truly amazing!
                </p>
                <div class="testimonials__author h06">
                    Sumia Abiden
                    <span>Software Engineering Student, IZU</span>
                </div>
            </div>

            <div class="testimonials__slide">
                @* <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar"> *@
                <img src="https://i.hizliresim.com/4yhw6vr.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    I've been seeing your progress and am really impressed with how hard you’re working. I’m excited to see where you go next and wish you all the best. Congrats on all your achievements—your effort definitely shows!
                </p>
                <div class="testimonials__author h06">
                    Songul Sahin
                    <span>Hiring Manager, FLO</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>