@model List<Message>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Messages</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Inbox</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can perform operations related to messages from the panel below:
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">From</th>
									<th scope="col">Subject</th>
									<th scope="col">Date</th>
									<th scope="col">See the Message</th>
									<th scope="col">Status</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.NameSurname</td>
										<td>@item.Subject</td>
										<td>@item.SendDate.ToShortDateString()</td>
										<td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn-warning">See the Message</a></td>
										@if (item.IsRead == true)
										{
											<td><a href="/Message/ChangeIsReadToFalse/@item.MessageId" class="btn btn-dark">Mark as unread</a></td>
										}
										else
										{
											<td><a href="/Message/ChangeIsReadToTrue/@item.MessageId" class="btn btn-info">Mark as read</a></td>
										}
										<td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-danger">Delete</a></td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

